// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@bullet-size: 1.1em;
atom-php-integrator-symbol-viewer {
    display: block;
    margin-top: @tab-height;
    height: 100%;
    width: 20vw;
    padding: 0 6px 6px;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 1.1em;
    .header {
        z-index: 1;
        width: 19vw;
        position: fixed;
        background: @app-background-color;
    }
    .title {
        margin: 7px;
    }
    .public {
        font-weight: bold;
    }
    // START bullet style
    @bullet-size: 15px;
    .bullet-container {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: @bullet-size;
        height: @bullet-size;
        margin-right: 5px;
    }
    .bullet-content {
        position: absolute;
        top: -1px;
        left: 3px;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 20px;
        font-weight: 900;
    }
    .constants-list .bullet-content {
        color: @ui-site-color-5;
    }
    .static-properties-list .bullet-content {
        color: @ui-site-color-3;
    }
    .static-methods-list .bullet-content {
        color: @ui-site-color-4;
    }
    .properties-list .bullet-content {
        color: @ui-site-color-2;
    }
    .methods-list .bullet-content {
        color: @ui-site-color-1;
    }
    // END bullet style
    .list li {
        transition: 0.3s;
    }
    .list li:hover {
        color: @text-color-highlight;
    }
    .input-container {
        margin: 10px;
    }
    .title-name {
        font-weight: bold;
        font-size: 1.3em;
        margin: 10px 0.3em;
    }
    .list-container {
        z-index: 2;
        padding: 6px 0px 6px 5px;
        margin-top: 80px;
        margin-bottom: 53px;
    }
    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .list li {
        cursor: pointer;
    }
    .list li:last-child {
        margin-bottom: 5px;
    }
    .list li,
    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}
